<div class="start">
  <!--<i class="fa fa-bars iconsMain"></i> Hi, fa-bars-->

  <div>
    <i class="fa fa-flag iconsMain" style="color: #730E15; font-size: 2em" >
      <p style=" display:inline-block; font-size: 1em" >
        Application is in Progress/Maintenance
      </p>
    </i>
  </div>
</div>

